.footer__column-link {
  line-height: 18px;
  font-size: 18px;
  color: var(--white-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: opacity .1s linear;
}

.footer__column-link:hover {
  opacity: .5;
}
